#--------------------------------------------------
# Activation du module de réécriture d'URL
#--------------------------------------------------
RewriteEngine on



#--------------------------------------------------
# Page erreur 404 perso 
#--------------------------------------------------
ErrorDocument 404 /test.php