@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/* Header */

header {
    height: 28rem;
    background: rgba(0, 0, 0, 0.2) url("../img/louer_avion_taxi_aérien.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 28rem;
    background-blend-mode: darken;
}

/* fin Header */

.presentationColor {
    color: rgb(31, 80, 123);
}

/* ---NavBar--- */

.backgroundNavbar {
    margin-left: 2rem;
    margin-right: 2rem;
}

.textNavBar {
    color: white;
}

.textNavBar:hover {
    color: black;
}

.textUserNavBar {
    color: white;
}

.backgroundNavbar:hover {

    background-color: white;
}

.sizeLiNavBar {
    width: 10rem;
}


.colorNav {
    background-color: rgb(31, 80, 123);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}




@media screen and (max-width: 480px) {
    .colorNav {
        background-color: rgb(31, 80, 123);
        position: relative;
    }
}

/* ---icon--- */
.iconProfile {
    width: 5rem;
    height: 5rem;
}

.iconBorder:hover {
    border: 1px solid white;
}

.taille {
    font-size: 1.5rem;
    color: white;

}

/* ---fin icon--- */
/* ---fin NavBar--- */

/* body */


/* ---premier block---  */

.imageArticle1 {

    width: 95%;
    height: auto;
}

/* fin premier block  */

/* ---second block--- */

.image2 {
    width: 50%;
    height: auto;
}

/* ---fin second block--- */

/* troisieme block  */

.image3 {
    width: 53%;
    height: auto;
}

.info {
    border: 2px solid black;
    height: 17rem;
    margin-top: 1.5rem;
}

.info2 {
    border: 2px solid black;
}

.avis {
    height: 12rem;
}


.tailleIcon {
    font-size: 5rem;
}

/* troisieme block fin */


/* fly  */

.imageFlotte {
    width: 100%;
    height: auto;
}

.imageFlotteVal {
    width: 100%;
    height: auto;
}

.imgFormation {
    width: 60%;
    height: auto;
}

.imgLocation {
    width: 100%;
}

.espaceFly {
    margin-top: 4rem;
    margin-bottom: 4rem;
}


/* fly fin */


/* formation  */

.tableauSize {
    width: 5rem;
    color: rgb(31, 80, 123);
}

.FormularSize {
    width: 100%;
}


.spanSize {
    width: 5rem;
}

/* test */

.profilPicture {
    width: 20rem;
    height: auto;
}


.Textcolor {
    background-color: rgb(31, 80, 123);
    color: white;
}

.TextcolorPagePlane {
    background-color: rgb(31, 80, 123);
    color: white;
}

.TextcolorPagePlane:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-out;
}

.textColor2 {
    color: rgb(31, 80, 123);
}


/* test */


.close {
    font-size: 1.5rem;
}

.galery:hover {
    opacity: 0.7;
    cursor: pointer;
}

.galery {
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.galeryImg {
    width: 100%;
    height: auto;
}


.fontText {
    font-family: 'Ubuntu', sans-serif;
}

.fontTitle {
    font-family: 'Archivo Black', sans-serif;
}

.AeroLoc {
    font-family: 'Michroma', sans-serif;
    color: white;
    font-size: 12rem;
    margin-top: 7rem;

}



.textFly {
    margin-top: 1rem;
}


.borderColor {
    border: 3px solid rgb(31, 80, 123);
}

.cardColor {
    border: 2px solid rgb(31, 80, 123);
    z-index: 1;

}


.imgSize {
    width: 90%;
    height: auto;
}


/* login */
.tailleInput {
    width: 100%;
}

.fontStyle {
    font-style: italic;
}

.btnSize {
    width: 100%;
    color: white;
}

.fontColor {
    background-color: rgb(31, 80, 123);
    font-weight: bold;
}

/* admin button */
.fontTheme {
    color: rgb(31, 80, 123);
    border: 3px solid rgb(31, 80, 123);
    font-weight: bold;
    width: 15rem;

}

.fontTheme:hover {
    background-color: rgb(31, 80, 123);
    color: white;
}

.roundColor {
    border: 2px solid rgb(31, 80, 123);
}

/* fin login */

.pictureLocation {
    width: 100px;
}

.pictureOneLocation {
    width: 25rem;
}

.pictureCard {
    width: 100%;
}

.pictureModif {
    width: 150px;
}

.buttontheme {
    color: rgb(31, 80, 123);
    border: 3px solid rgb(31, 80, 123);
    font-weight: bold;
}

.modalTheme {
    border: 3px solid rgb(31, 80, 123);
}

.buttontheme:hover {
    background-color: rgb(31, 80, 123);
    color: white;
}

.pictureModifLocation {
    width: 18rem;
}

.textSimulateur {
    font-size: 1rem;
}

.FormationImg {
    background-image: url("../img/imgF.jpg");
    height: 28rem;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.textJust {
    text-align: justify;
}

.flyWidth {
    width: 100%;
    height: 14rem;
}

.flyPlane {
    width: 100%;
    height: 100%;
}

.flyBackground {
    background-image: url("../img/DSC01106.jpg");
    height: 28rem;
    background-attachment: fixed;
}

.PagePlaneBackgroung {
    background-image: url("../img/location.jpg");
    height: 22rem;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.BGlanding {
    background-image: url("../img/imageLanding.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: grey;
    background-blend-mode: screen;
}

/* list-location js */

#myInput {
    background-image: url('/css/searchicon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#myTable th,
#myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
    background-color: #f1f1f1;
}

/* fin list-location js */

.sizeLanding {
    height: 28rem;
}

.imgCompte {
    height: 12rem;
    width: auto;
}

/* ligne */
.ligneGalerie:before,
.ligneGalerie:after {
    content: '';
    width: 44%;
    border-top: 3px double black;
    display: inline-block;
    vertical-align: middle;
}

.ligneinformation:before,
.ligneinformation:after {
    content: '';
    width: 40%;
    border-top: 3px double black;
    display: inline-block;
    vertical-align: middle;
}

.ligneflotte:before,
.ligneflotte:after {
    content: '';
    width: 34%;
    border-top: 3px double black;
    display: inline-block;
    vertical-align: middle;
}

.lignePPl:before,
.lignePPl:after {
    content: '';
    width: 38%;
    border-top: 3px double black;
    display: inline-block;
    vertical-align: middle;
}

.ligneformation:before,
.ligneformation:after {
    content: '';
    width: 34%;
    border-top: 3px double black;
    display: inline-block;
    vertical-align: middle;
}

.ligneLocation:before,
.ligneLocation:after {
    content: '';
    width: 40%;
    border-top: 3px double black;
    display: inline-block;
    vertical-align: middle;
}

.lignecompte:before,
.lignecompte:after {
    content: '';
    width: 40%;
    border-top: 3px double black;
    display: inline-block;
    vertical-align: middle;
}

.lignephone:before,
.lignephone:after {
    content: '';
    width: 40%;
    border-top: 3px double black;
    display: inline-block;
    vertical-align: middle;
}


@media screen and (max-width: 780px) {

    .ligneGalerie:before,
    .ligneGalerie:after {
        content: '';
        width: 32%;
        border-top: 3px double black;
        display: inline-block;
        vertical-align: middle;
    }

    .ligneinformation:before,
    .ligneinformation:after {
        content: '';
        width: 25%;
        border-top: 3px double black;
        display: inline-block;
        vertical-align: middle;
    }

    .ligneflotte:before,
    .ligneflotte:after {
        content: '';
        width: 5%;
        border-top: 3px double black;
        display: inline-block;
        vertical-align: middle;
    }

    .lignePPl:before,
    .lignePPl:after {
        content: '';
        width: 18%;
        border-top: 3px double black;
        display: inline-block;
        vertical-align: middle;
    }

    .ligneformation:before,
    .ligneformation:after {
        content: '';
        width: 8%;
        border-top: 3px double black;
        display: inline-block;
        vertical-align: middle;
    }

    .ligneLocation:before,
    .ligneLocation:after {
        content: '';
        width: 25%;
        border-top: 3px double black;
        display: inline-block;
        vertical-align: middle;
    }

    .lignecompte:before,
    .lignecompte:after {
        content: '';
        width: 30%;
        border-top: 3px double black;
        display: inline-block;
        vertical-align: middle;
    }

    .lignephone:before,
    .lignephone:after {
        content: '';
        width: 30%;
        border-top: 3px double black;
        display: inline-block;
        vertical-align: middle;
    }
}

/* ligne fin  */