/* Header */

/* fin Header */


/* ---NavBar--- */

.textNavbar {
    margin-left: 5rem;
    margin-right: 2rem;
    color: black;
}

/* ---icon--- */
.iconProfile {
    width: 5rem;
    height: 5rem;
}

.taille {
    font-size: 3.5rem;

}

/* ---fin icon--- */

/* ---fin NavBar--- */


/* ---premier block---  */

.imageArticle1 {
    width: 95%;
    height: auto;
}

/* fin premier block  */

/* ---second block--- */

.image2 {
    width: 50%;
    height: auto;
}

/* ---fin second block--- */

/* troisieme block  */

.image3 {
    width: 60%;
    height: auto;
}

.info {
    border: 1px solid black;
    height: 17rem;
    margin-top: 1.5rem;
}

.avis {
    height: 12rem;
}


.tailleIcon {
    font-size: 5rem;
}

/* troisieme block fin */


/* fly  */

.imageFlotte {
    width: 100%;
    height: auto;
}

.espaceFly {
    
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* fly fin */


/* formation  */

.tableauSize{
    width: 5rem;
}

.FormularSize{
    width: 23rem;
}

.spanSize{
    width: 5rem;
}

